<section style="margin-top: 40px;" data-ng-controller="HomeController">
	<div class="col-md-8 text-center">

		<slider></slider>

	</div>
	</div>
	<div class="col-md-4" data-ng-controller="AuthenticationController">


			<form data-ng-submit="signin()" class="col-md-offset-2 col-md-10 signin form-horizontal" autocomplete="off">
				<fieldset>
					<div class="form-group">
						<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Usuario">
					</div>
					<div class="form-group">
						<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Contraseña">
					</div>
					<div class="text-center form-group">
						<button style="width:100%"type="submit" class="btn btn-primary">ENTRAR</button>
					</div>

					<div data-ng-show="error" class="text-center text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
					<div class="col-md-12 text-center">
						<a href="/auth/facebook" class="undecorated-link">
							<img width=30 src="/modules/users/img/buttons/facebook.png">
						</a>
						<a href="/auth/twitter" class="undecorated-link">
							<img width=30 src="/modules/users/img/buttons/twitter.png">
						</a>
						<a href="/auth/google" class="undecorated-link">
							<img width=30 src="/modules/users/img/buttons/google.png">
						</a>
						<a href="/auth/linkedin" class="undecorated-link">
							<img width=30 src="/modules/users/img/buttons/linkedin.png">
						</a>
						<a href="/auth/github" class="undecorated-link">
							<img width=30 src="/modules/users/img/buttons/github.png">
						</a>
					</div>

					<br>
					<br>
					<p class="text-center">PrompTV es una eina que et permet consultar tota la informació que vulguis de les teves series preferides</p>

				</fieldset>
			</form>
		<a style="margin-bottom: 40px"class="col-md-10 col-md-offset-2 text-center  btn btn-primary" data-ng-if=!authentication.user href="/#!/signup">REGISTRATE</a>

	</div>
	<div class="row">
		<div class="col-md-3">
			<h2>
				<strong>M</strong>ongoDB
			</h2>
			<p><a target="_blank" href="http://mongodb.org/">MongoDB</a> is a database. MongoDB's <a target="_blank" href="http://docs.mongodb.org/manual/">great manual</a> is the place to get started with NoSQL and MongoDB.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>E</strong>xpress
			</h2>
			<p><a target="_blank" href="http://expressjs.com/"> Express</a> is an app server. Check out <a target="_blank" href="http://expressjs.com/guide.html">The Express Guide</a> or <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> for more info.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>A</strong>ngularJS
			</h2>
			<p>AngularJS is web app framework. <a target="_blank" href="http://angularjs.org/">Angular's website</a> offers a lot. The <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> and <a target="_blank" href="https://egghead.io/">Egghead Videos</a> are great resources.</p>
		</div>
		<div class="col-md-3">
			<h2>
				<strong>N</strong>ode.js
			</h2>
			<p><a target="_blank" href="http://nodejs.org/">Node.js</a> is a web server. Node's website and this <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>
		</div>
	</div>
	<div class="well">
		<h2>MEAN.JS Documentation</h2>
		<p>
			Once you're familiar with the foundation technology, check out the MEAN.JS Documentation:
			<ul>
				<li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
				</li>
				<li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
				</li>
			</ul>
		</p>
	</div>
	<br>Enjoy &amp; Keep Us Updated,
	<br>The MEAN.JS Team.
</section>
