<section style="margin-top: 40px;" data-ng-controller="HomeController">

	<div class="col-md-8 text-center">

		<slider></slider>

	</div>
	</div>
	<div class="col-md-4" data-ng-controller="AuthenticationController">


			<form data-ng-submit="signin()" class="col-md-offset-2 col-md-10 signin form-horizontal" autocomplete="off">
				<fieldset>
					<div class="form-group">
						<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Usuario">
					</div>
					<div class="form-group">
						<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Contraseña">
					</div>
					<div class="text-center form-group">
						<button style="width:100%"type="submit" class="btn btn-primary">ENTRAR</button>
					</div>

					<div data-ng-show="error" class="text-center text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
					<div class="col-md-12 text-center">
						<a href="/auth/facebook" class="undecorated-link">
							<img width=30 src="/modules/users/img/buttons/facebook.png">
						</a>
						<a href="/auth/twitter" class="undecorated-link">
							<img width=30 src="/modules/users/img/buttons/twitter.png">
						</a>
						<a href="/auth/google" class="undecorated-link">
							<img width=30 src="/modules/users/img/buttons/google.png">
						</a>
						<a href="/auth/linkedin" class="undecorated-link">
							<img width=30 src="/modules/users/img/buttons/linkedin.png">
						</a>
						<a href="/auth/github" class="undecorated-link">
							<img width=30 src="/modules/users/img/buttons/github.png">
						</a>
					</div>

					<br>
					<br>
					<p class="text-center">PrompTV es una eina que et permet consultar tota la informació que vulguis de les teves series preferides</p>

				</fieldset>
			</form>
		<a style="margin-bottom: 40px"class="col-md-10 col-md-offset-2 text-center  btn btn-primary" data-ng-if=!authentication.user href="/#!/signup">REGISTRATE</a>

	</div>

	<div class="row">
		<div class="col-md-12 well"  style="margin-top:50px">
			<div  class="">
				<div class="col-md-4">
				<img   width="200" src="../../logo.png" />
				<br>
				</div>
				<div class="col-md-8">
					<br>
				<p>Gracias a PrompTV podrás:</p>
				<ul>
					<li>
						Consultar la lista de series más famosas del momento
					</li>
					<li>
						Añadir tus series a tus favoritos
					</li>
					<li>
						Conectar con tus redes sociales
					</li>
					<li>
						Subir tu avatar de usuario
					</li>
					<li>
						Y mucho más
					</li>
				</ul>
				</div>
			</div>
		</div>
	</div>

	<br>Disfruta de tus Series,
	<br>El equipo de PrompTV.
</section>
