<div  class="autoplay">
    <div>
        <img alt="MEAN.JS" class="img-responsive center-block" src="modules/core/img/slider/trones.jpg" />
    </div>
    <div>
        <img  alt="MEAN.JS" class="img-responsive center-block" src="modules/core/img/slider/walking.jpg" />
    </div>
    <div>
        <img  alt="MEAN.JS" class="img-responsive center-block" src="modules/core/img/slider/arrow.jpg" />
    </div>
    <div>
        <img  alt="MEAN.JS" class="img-responsive center-block" src="modules/core/img/slider/lost.jpg" />
    </div>
    <div>
        <img  alt="MEAN.JS" class="img-responsive center-block" src="modules/core/img/slider/bad.jpg" />
    </div>
</div>
