<section data-ng-controller="SeriefullsController" data-ng-init="findOne()">
	<div class="col-md-12">
		<h1 data-ng-bind="seriefull.nom"></h1>
	</div>
	<div class="col-md-4">
		<br>
		<img style="margin-bottom:20px;"class="img-thumbnail img-responsive" data-ng-src="{{seriefull.imatge}}"/>
		<br>

		<accordion close-others="oneAtATime">
			<accordion-group data-ng-repeat="n in numero" is-open="status.open">
				<accordion-heading >
					<span data-ng-bind="'Temporada '+n.num"></span><i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
				</accordion-heading><span data-ng-if="s.temporada == n.num" data-ng-repeat="s in seriefull.temporades.temp">
				<span data-ng-bind="'Capítulo '+s.num_Capitol+': '"></span>
				<span data-ng-bind="s.nom"></span><p></p>
			</span>

			</accordion-group>
		</accordion>


	</div>


	<div align="center" class="col-md-8">
		<h3>{{seriefull.episodis}}</h3>
		<div>
			<img style="width: 100%;opacity: 0.8" class="img-responsive" data-ng-src="{{seriefull.backdrop}}"/>
			<tabset justified="true">
				<tab heading="Información"><br>
					<div class="col-md-6" style="float:right">
						<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
						<button style="float:right" class='btn btn-info' ng-click="create()">Añadir a favoritos <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
					</div>
						<h4 style="text-align:left"><b>Año: </b><span data-ng-bind="seriefull.any"></span></h4>
					<h4 style="text-align:left"><b>Durada: </b><span data-ng-bind="seriefull.durada+' min.'"></span></h4>
					<h4 style="text-align:left"><b>Genero: </b><span data-ng-repeat="g in seriefull.genere">
						<span data-ng-bind="g.nom + ', '"></span>
					</span></h4>
					<h4 style="text-align:left"><b>País: </b><span data-ng-repeat="p in seriefull.pais">
						<span data-ng-bind="p.nom"></span>
					</span></h4>


					<br>
					<h4 style="text-align:left"><b>Descripción:</b></h4><p style="text-align:left" data-ng-bind="seriefull.descripcio"></p></tab>
				<tab heading="Reparto"><br>
					<h4 style="margin:10px;" collapse="isCollapsed" data-ng-repeat="c in seriefull.casting">
						<img style="float:left" width=30 height=40 data-ng-src="{{c.foto}}"/>
						<span style=" color:#00BAE0" data-ng-bind="c.nom"></span>
						<p data-ng-bind="c.rol"></p>

					</h4></tab>

				<tab heading="Directores"><br><p data-ng-repeat="d in seriefull.directors">

					<span data-ng-bind="d.nom"></span>
					<spanp data-ng-bind="d.rol"></spanp>
				</p></tab>
			</tabset>
		</div>

	</div>


	<div class="page-header col-md-12"></div>
	<small class="col-md-12">
		<em class="text-muted">
			Posted on
			<span data-ng-bind="authentication | date:'mediumDate'"></span>
			by
			<span data-ng-bind="seriefull.user.displayName"></span>
		</em>
	</small>
</section>
